.solution-item {
  display: flex;
  height: auto;
  min-width: 10rem;
  gap: 0.625rem;
  padding: 0.875rem;
  border-radius: 0.75rem;
  cursor: pointer;
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .solution-item-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
    max-width: 10.25rem;
    .solution-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
    }
    .solution-text {
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
    }
  }
}
