.homepage {
  background-color: rgb(255, 255, 255);
  height: 100%;
  min-height: 100vh;
  nav {
    height: 80px;
    background-color: rgb(255, 255, 255);
    color: white;
    border-bottom: 1px solid #dadfe9;
  }
}
