footer {
  display: flex;
  justify-content: center;
  height: 5.5rem;
  border-bottom: 1px solid #dadfe9;
  .footer-component {
    max-width: 72rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1.5rem;
    .footer-phone {
      background: #796bea;
      padding: 0.25rem;
      border-radius: 0.5rem;
      display: flex;
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .footer-contact {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &-title {
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 100%;
      }
      &-text {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 140%;
      }
    }
  }
}
