nav {
  height: 5rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #dadfe9;
  color: #2a2d34;
  padding: 0 2rem;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  .navbar-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    .navbar-left {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
      .logo {
        font-style: normal;
        font-size: 24px;
        line-height: 24px;
        font-weight: 800;
      }
      .tabs-container {
        display: flex;
        gap: 1.25rem;
        .tab {
          all: unset;
          padding: 0 0.5rem;
          display: flex;
          align-items: center;
          gap: 0.25rem;
          cursor: pointer;
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        .tab.active {
          margin-top: 29px;
          padding-bottom: 27px;
          border-bottom: 2px solid #796be9;
          z-index: 1;
          img {
            transform: rotate(180deg);
          }
        }
      }
      @media (max-width: 1024px) {
        .tabs-container {
          gap: 0.5rem;
        }
      }
    }
    .navbar-right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      .contact {
        text-align: end;
        width: auto;
      }
      .sign-buttons {
        display: flex;
        gap: 0.625rem;
        button {
          border: none;
          padding: 11px 0.875rem;
          border-radius: 0.5rem;
          letter-spacing: -0.02em;
          font-weight: 600;
          cursor: pointer;
        }
        .sign-up-button {
          font-weight: 800;
          color: white;
          background-color: #796be9;
          box-shadow: 0px 6px 16px rgba(121, 107, 233, 0.6);
        }
        .sign-up-button:hover {
          background: #9487f8;
        }
        .sign-up-button:focus {
          background: #6557d8;
        }
        .log-in-button {
          background: #e9ebf0;
          box-shadow: 0px 6px 16px rgba(233, 235, 240, 0.6);
          @media (max-width: 380px) {
            display: none;
          }
        }
        .log-in-button:hover {
          background: #f4f5f8;
        }
        .log-in-button:focus {
          background: #dee1ea;
        }
      }
      img {
        cursor: pointer;
        display: none;
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 1rem;
      }
    }
  }
}
//LAPTOP
@media (max-width: 1024px) {
  nav {
    padding: 0 0.75rem;
    .navbar-container {
      justify-content: space-between;
      .navbar-left {
        gap: 0.5rem;
        .tabs-container {
          gap: 0;
        }
      }
      .navbar-right {
        gap: 0.5rem;
      }
    }
  }
}
//TABLET
@media (max-width: 834px) {
  nav {
    height: 5.5rem;
    padding: 0 1rem;
    .navbar-container {
      .navbar-left {
        .logo {
          padding-left: 0.5rem;
        }
        .tabs-container {
          display: none;
        }
      }
      .navbar-right {
        img {
          display: flex;
        }
      }
    }
    .contact {
      display: none;
    }
  }
}
